.navbar-container {
    margin-bottom: 20px;
    position: fixed;
}

.dropdown-content {
    margin: 5px;
}

.notifications-root-container {
    max-height: 400px;
    min-width: 250px;
    overflow-y: auto;
}

.notifications-container:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

.grey-notif {
    background-color: rgb(238, 238, 238);
}

.notification-separator {
    margin-bottom: -5px;
    margin-top: -5px;
}

.ticket-title{
    display: inline;
    font-size: 14px;
    font-weight: 700;
}

.ticket-date{
    font-size: 14px;
    font-weight: 700;
}

.status-title-container{
    display: flex;
    align-items: center;
}

.status-assigned {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: orange;
}

.status-closed {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: green;   
}

